<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publisId</key>
	<string>0</string>
	<key>AppID</key>
	<string>10066</string>
	<key>SDKVersion</key>
	<string>9.0.0</string>
	<key>ServerApi</key>
	<string>https://dusee.baidu.com/artrack-bos/queryarresource</string>
	<key>BaseServer</key>
	<string>https://dusee.baidu.com</string>
</dict>
</plist>
