<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string>新增功能请阅读README.md</string>
	</dict>
	<dict>
		<key>header</key>
		<string>版本:20</string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>测试_Track_IMU</string>
				<key>targetVcName</key>
				<string></string>
				<key>cellType</key>
				<string>UITableViewCellStyleDefault</string>
				<key>plistName</key>
				<string></string>
				<key>cid</key>
				<string>case1</string>
				<key>type</key>
				<string>ARTypeTracking</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>测试_IMU_Track</string>
				<key>targetVcName</key>
				<string></string>
				<key>cellType</key>
				<string>UITableViewCellStyleDefault</string>
				<key>plistName</key>
				<string></string>
				<key>cid</key>
				<string>case2</string>
				<key>type</key>
				<string>ARTypeTracking</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>测试_Communal(除SLAM)</string>
				<key>targetVcName</key>
				<string></string>
				<key>cellType</key>
				<string>UITableViewCellStyleDefault</string>
				<key>plistName</key>
				<string></string>
				<key>cid</key>
				<string>case3</string>
				<key>type</key>
				<string>ARTypeTracking</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>测试_Communal2(除SLAM)</string>
				<key>targetVcName</key>
				<string></string>
				<key>cellType</key>
				<string>UITableViewCellStyleDefault</string>
				<key>plistName</key>
				<string></string>
				<key>cid</key>
				<string>case5</string>
				<key>type</key>
				<string>ARTypeTracking</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>SLAM类型项目请移至该目录下</string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>测试_SLAM(专属)</string>
				<key>targetVcName</key>
				<string></string>
				<key>cellType</key>
				<string>UITableViewCellStyleDefault</string>
				<key>plistName</key>
				<string></string>
				<key>cid</key>
				<string>case4</string>
				<key>type</key>
				<string>ARTypeSLAM</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
